.idea/
conode/log
conode/tmp
conode/conode/*
conode/conode
conode/conodes/log
conode/*.db
conode/running
conode/build
running
*.out
.DS_Store
report/.DS_Store
mc/build/
.vscode/
mc/mc
simulation/simulation