<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medchain Head of Hospital</title>
</head>
<body>
  <h2><label>Your Id: </label>{{.UserId}}</h2>
  <h2>Administrators: </h2>
  <ul>
    {{range index .SubordinatesIdsList 0 }}
    <li>{{.}}</li>
    {{end}}
  </ul>
  <h2>Add new administrator: </h2>
  <form method="POST" enctype="multipart/form-data" action="/add/admin">
    Public Key: <input type="file" name="publickey"/><br/>
    <input type="submit" value="Add"/>
  </form>
  <h2>Managers: </h2>
  <ul>
    {{range index .SubordinatesIdsList 1 }}
    <li>{{.}}</li>
    {{end}}
  </ul>
  <h2>Users: </h2>
  <ul>
    {{range index .SubordinatesIdsList 2}}
    <li>{{.}}</li>
    {{end}}
  </ul>
  <form action="/logout">
    <input type="submit" value="Log Out" />
  </form>
</body>
