<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hospital Information</title>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/info_page/hospital_info_page.js"></script>
</head>

<body>
  <div>
    <label>Hospital Name: </label>
    <span id="hospital_name"></span></br>
    <label>Super Admin Name: </label>
    <span id="super_admin_name"></span></br>
    <label>Status: </label>
    <span id="status"></span></br>
  </div>
</body>
