*
!src/github.com/dedis/
!src/github.com/talhaparacha
!src/rsc.io/goversion/
!src/gopkg.in/
!src/golang.org/
!src/github.com/prataprc/goparsec
!src/github.com/gorilla/websocket
!src/github.com/daviddengcn/go-colortext
!src/github.com/coreos/bbolt
!src/github.com/BurntSushi/toml
